table {
    background-color:aquamarine;
    color: black;
    margin: 10px;
    border: 3px solid orchid;
    width: 24%;
    text-align: center;
}

body {
    background-color: black;
    font: 1em verdana;
    margin: 3%;
}

.common {
    color: white;
}

.table-header {
    color: olivedrab;
    text-decoration: underline;
}

th, td {
    border: 1px solid black;
}

.link {
    color:blue;
}

.button {
    background: whitesmoke;
    color: black;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.underlined {
    text-decoration: underline;
}